{% set python2 = salt['grains.filter_by']({
    'default': {
        'pkg': 'python',
        'pip_pkg': 'python-pip',
        'version': '',
    },
    'Debian': {
        'dev_pkg': 'python-dev',
        'mako_pkg': 'python-mako',
        'm2c_pkg': 'python-m2crypto',
    },
    'RedHat': {
        'dev_pkg': 'python-devel',
        'mako_pkg': 'python-mako',
        'm2c_pkg': 'python-m2ext',
    },
    'Windows':
    {
        'pkg': 'python2_x64',
        'python_path': 'C:\\Python27',
        'pip_cwd': 'C:\\Python27\\Scripts',
        'pip_bin_env': 'C:\\Python27\\Scripts\\pip.exe',
        'venv_bin': 'C:\\Python27\\Scripts\\virtualenv',
        'version': '2.7.12150',
    },
}, merge=salt['pillar.get']('python2:lookup'), base='default') %}

{% set python3 = salt['grains.filter_by']({
    'default': {
        'pkg': 'python3',
        'pip_pkg': 'python3-pip',
    },
    'Debian': {
        'dev_pkg': 'python3-dev',
        'mako_pkg': 'python3-mako',
    },
    'RedHat': {
        'dev_pkg': 'python3-devel',
        'mako_pkg': 'python3-mako',
    },
}, merge=salt['pillar.get']('python3:lookup'), base='default') %}
